<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mirror Display</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{//fonts.googleapis.com/css?family=Comfortaa}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/owfont-regular.min.css}"  rel="stylesheet" type="text/css" />
    <link th:href="@{/css/font-awesome.min.css}"  rel="stylesheet" type="text/css" />
    <script th:src="@{/app/datetime.js}"></script>
    <script th:src="@{/app/weather.js}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/

    var weatherWSUrl = [[${localhostUrl}]];
    startWeatherWS(weatherWSUrl);

    /*]]>*/
    </script>
</head>

<body>
<div id="border">
    <div id="datetime">
        <span id="dayOfWeek"></span>
        <span id="time"></span>
        <span id="date"></span>
        <script type="text/javascript">window.onload = date_time('time', 'date', 'dayOfWeek');</script>
    </div>

    <div id="weather">
        <div id="weather-text">
            <span id="weather-temperature"></span>
            <span id="weather-conditions"></span>
        </div>
        <span id="weather-icon"></span>
    </div>

    <div id="reminders">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        Naplánovat dovolenou
    </div>
</div>
</body>
</html>